@import '~office-ui-fabric-react/dist/sass/References.scss';


.contains{
  height: 500px;
}
.buttonStyle {
  width: 205px;
 
}

table.table1 {
  width: 100%;
}
table.table1 td,th{
  padding-bottom: 1em;
  text-align: center;
}


