@import '~office-ui-fabric-react/dist/sass/References.scss';

.heading{
  text-align: center;
  
}
.orderDiv{
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 8px 10px #888888;
}


 

.buttonStyle {
  background-color:#888888 ;
 
}