@import '~office-ui-fabric-react/dist/sass/References.scss';

.heading{
  text-align: center;
  
}
.orderDiv{
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
}


 

.buttonStyle {
  background-color:#888888 ;
 
}